/* Importa a fonte do Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;700&display=swap");

/* Define o estilo padrão do texto */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Define a fonte padrão do texto */
html{
    font-family: 'Roboto Slab', serif;
    font-size: 15px; 
    background-color: rgb(71, 116, 91);

}

/* Estiliza o corpo do texto */
body {

    background-color: rgba(127, 255, 206, 0.645);
    width: 600px; /* Define a largura do corpo do texto */
    margin: 0 auto; /* Centraliza o corpo do texto */
    padding: 0 20px 20px 20px; /* Adiciona um espaço interno ao redor do corpo do texto */
    border: 5px solid black; /* Adiciona uma borda preta ao redor do corpo do texto */
}

/* Estiliza o título */
h1 {
    font-family: 'Roboto Slab', serif; /* Usa a fonte importada */
    font-size: 32px; /* Tamanho maior para o título */
    text-align: center; /* Centraliza o título */
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.457); /* Adiciona uma sombra ao texto */
    padding: 20px 0; /* Adiciona um espaço interno acima e abaixo do título */
    color: rgb(2, 43, 29); /* Cor azul para o título */
}

img{
    display: block; /* Centraliza a imagem */
    margin: 0 auto; /* Centraliza a imagem */
    width: 200px; /* Define a largura da imagem */
    height: 200px; /* Define a altura da imagem */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra à imagem */
}


/* Estiliza o subtítulo */
h2{
    font-size: 10px;
    text-align: center;
    margin: 10px 0;
}


/* Estiliza o parágrafo */
p, li{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;

}
